@import 'tailwindcss';

:root {
  --foreground: #fff;
  --font-sans: var(--font-sans);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}

.pattern {
  background-image: radial-gradient(
    circle,
    rgba(185, 185, 185, 0.5) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 1rem 1rem;
  mix-blend-mode: multiply;
}

.cta-youtube {
  @apply hover:bg-[#FF0000];
}
.cta-spotify {
  @apply hover:bg-[#1ED760];
}