@import 'tailwindcss';

:root {
  --foreground: #fff;
  --font-sans: var(--font-sans);
}

body {
  background-color: #dab9c2;
  color: var(--foreground);
  font-family: var(--font-sans);
}

.cta-youtube {
  @apply hover:bg-[#FF0000];
}
.cta-spotify {
  @apply hover:bg-[#1ED760];
}
